.hoofdpagebox
{
    height:360px;
    width:300px;
    position:absolute;
    left:85px;
    border-style:solid;
	border-width: 3px;
    border-color:lightblue;
    background-color:midnightblue;
    border-radius:15px;
}
.alles
{
    background-color:lightgoldenrodyellow
}
.titel
{
    color:lightblue;
    text-align:center;
}
.logintext
{
    position:relative;
    left:65px;
    font-weight: bold;
    color: white;
}
.registertext
{
    position:relative;
    left:40px;
    font-weight: bold;
    color: white;
}
#loginvak
{
    position:relative;
    left:35px;
    border-radius:5px;
}
#pasvak
{
    position:relative;
    left:10px;
    border-radius:5px;
}
#loginknop
{
    position:relative;
    left: 120px;
    font-weight:bold;
    border-radius:5px;
    
}
.alert
{
    text-align:center;
    color:orangered;
}
.alert2
{
    text-align:center;
    color:green;
}
#loginvakregister
{
    position:relative;
    left:42px;
    border-radius:5px;
}
#pasvakregister
{
    position:relative;
    left:17px;
    border-radius:5px;
}
#firstnameregister
{
    position:relative;
    left:5px;
    border-radius:5px;
}
#lastnameregister
{
    position:relative;
    left:6px;
    border-radius:5px;
}
#registreerknop
{
    position:relative;
    left:2px;
    font-weight:bold;
    border-radius:5px;
}
#registreerknopregister
{
	position:relative;
    left:120px;
    font-weight:bold;
    border-radius:5px;
}
#sendknop
{
    position:relative;
    left:183px;
}
#afmelden
{
    position:relative;
    left:183px;
	top:-10px;
}
#homeknop
{
    position:relative;
    left:127px;
    font-weight:bold;
    border-radius:5px;
}
#succes
{
	text-align:center;
    color:green;
}
#coordinatenbox
{
    height:235px;
    width:300px;
    position:absolute;
    left:600px;
    top:50px;
    border-style:solid;
	border-width: 3px;
    border-color:darkblue;
    background-color:lightblue;
    border-radius:15px;

}
#titel 
{
    font-size:20px;
    text-decoration:underline;
    color:midnightblue;
    text-align:center;
}
.text
{
    position:relative;
    left:25px
}
.textvak
{
    position:relative;
    left:40px
}
.textvak1
{
    position:relative;
    left:35px
}
#categorieknop
{
	position:relative;
	left:110px;
	font-weight:bold;
    border-radius:5px;
}
#optionknop
{
	position:relative;
	left:119px;
	font-weight:bold;
    border-radius:5px;
}
#exitknop
{
	position:relative;
	left:130px;
	font-weight:bold;
    border-radius:5px;
}
#resultlanguage
{
	position:relative;
	left:105px;
	font-weight:bold;
	border-radius:5px;
}
#startlanguage
{
	position:relative;
	left:40px;
	font-weight:bold;
	border-radius:5px;
}
#translatetext
{
	color:white;
	font-weight:bold;
	position:relative;
	left:15px;
}
#phrasebox
{
	border-radius:5px;
}
.categorieknoppen
{
	position:relative;
	left:110px;
	font-weight:bold;
    border-radius:5px;
}
.backknop
{
	position:relative;
	left:10px;
	font-weight:bold;
    border-radius:5px;
}
